:root {
  --bg: #ededed;
  --ligth: #ffffff;
  --accent: #333;
}
body {
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
}
.header {
  display: inherit;
  align-items: center;
  justify-content: center;
}
.tittle {
  font-size: 60px;
  font-family: "Roboto", "sans-serif";
  color: var(--accent);
}
.main-section {
  display: inherit;
  width: 100%;
  justify-content: center;
}
.control-panel {
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: center;
  justify-content: space-between;
}
.grid-container {
  display: grid;
  background-color: var(--ligth);
  height: 600px;
  width: 600px;
}
.modeButtons {
  display: contents;
  height: inherit;
  width: inherit;
  margin: 0;
  padding: 0;
}
button {
  height: 80px;
  width: 220px;
  border-color: var(--accent);
  color: var(--accent);
  background-color: var(--ligth);
}
.active {
  border-color: var(--ligth);
  color: var(--ligth);
  background-color: var(--accent);
}
.colorpicker {
  height: 80px;
  width: 220px;
  margin: 0;
  padding: 0;
  border: none;
}
